<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <%- include('_layouts/head') %>
    <title>Sub Admin Edit | <%= title %></title>

</head>
<!-- END: Head-->

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-dark-menu preload-transitions 2-columns" data-open="click" data-menu="vertical-dark-menu" data-col="2-columns">

    <%- include('_layouts/sidenavbar') %>

    <!-- BEGIN: Page Main-->
    <div id="main">
        <div class="row">
            <div class="pt-1 pb-0" id="breadcrumbs-wrapper">
                <!-- Search for small screen-->
                <div class="container">
                    <div class="row">
                        <div class="col s12 m6 l6">
                            <h6 class="breadcrumbs-title"><span>Edit Sub Admin</span></h6>
                        </div>
                        <div class="col s12 m6 l6 right-align-md" style="margin-top: -10px;">
                            <ol class="breadcrumbs mb-0">
                                <li class="breadcrumb-item"><a href="/admin">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item"><a href="/admin/sub-admin/list">Sub Admin</a>
                                </li>
                                <li class="breadcrumb-item active">Edit Sub Admin
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container pl-2 pr-2">
            <div class="card">
                <div class="row">
                    <div class="col s12">
                        <div id="basic-form" class=" card-default scrollspy">
                            <div class="card-content">
                                <form method="POST" action="/admin/sub-admin/edit/<%= admin._id %>" class="formValidate0" id="formValidate0">

                                    <div class="input-field col s12 m4">
                                        <label for="name">Name</label>
                                        <input class="validate" id="name" name="name" type="text" value="<%= admin.name %>" required>
                                        <div class="error-message" id="nameError"></div>
                                    </div>

                                    <div class="input-field col s12 m4">
                                        <label for="email">Email Address</label>
                                        <input class="validate" id="email" name="email" type="email" value="<%= admin.email %>" required>
                                        <div class="error-message" id="emailError"></div>
                                    </div>

                                    <div class="input-field col s12 m4">
                                        <label for="password">Password (Leave blank to keep current)</label>
                                        <input class="validate" id="password" name="password" type="text">
                                        <div class="error-message" id="passwordError"></div>
                                    </div>

                                    <div class="input-field col s12">
                                        <h6>Set Permission</h6>
                                        <div class="row" style="padding: 0%;">
                                            <div class="col s4">
                                                <h6><b>Module Name</b></h6>
                                            </div>
                                            <div class="col s2">
                                                <h6><b>Can View</b></h6>
                                            </div>
                                            <div class="col s2">
                                                <h6><b>Can Add</b></h6>
                                            </div>
                                            <div class="col s2">
                                                <h6><b>Can Edit</b></h6>
                                            </div>
                                            <div class="col s2">
                                                <h6><b>Can Delete</b></h6>
                                            </div>
                                        </div>
                                        <div class="row" style="padding: 0%;">
                                            <hr/>
                                        </div>
                                        <% 
                                        // Filter out duplicate entries by key
                                        const uniquePermissions = admin.permission.filter((perm, index, self) =>
                                            index === self.findIndex((p) => p.key === perm.key)
                                        );
                                        %>
                                        <% for( let i=0; i < uniquePermissions.length; i++ ) { %>
                                            <div class="row" style="padding: 0%; margin-top: 24px;">
                                                <div class="col s4">
                                                    <h6><b><%= uniquePermissions[i].module %></b></h6>
                                                </div>
                                                <div class="col s2">
                                                    <div class="switch">
                                                        <label>
                                                            <input type="checkbox" name="permissions[<%= i %>][isView]" value="true" <%= uniquePermissions[i].isView ? "checked" : "" %> >
                                                            <span class="lever"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col s2">
                                                    <div class="switch">
                                                        <label>
                                                            <input type="checkbox" name="permissions[<%= i %>][isAdd]" value="true" <%= uniquePermissions[i].isAdd ? "checked" : "" %>>
                                                            <span class="lever"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col s2">
                                                    <div class="switch">
                                                        <label>
                                                            <input type="checkbox" name="permissions[<%= i %>][isEdit]" value="true" <%= uniquePermissions[i].isEdit ? "checked" : "" %>>
                                                            <span class="lever"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col s2">
                                                    <div class="switch">
                                                        <label>
                                                            <input type="checkbox" name="permissions[<%= i %>][isDelete]" value="true" <%= uniquePermissions[i].isDelete ? "checked" : "" %>>
                                                            <span class="lever"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="permissions[<%= i %>][module]" value="<%= uniquePermissions[i].key %>">
                                                <input type="hidden" name="permissions[<%= i %>][moduleName]" value="<%= uniquePermissions[i].module %>">
                                                <div class="col s12">
                                                    <hr/>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>

                                    <div class="row">
                                        <div class="col s12 display-flex justify-content-end">
                                            <button class="btn btn-edit" type="submit" name="action">Update</button>
                                            &nbsp;&nbsp;&nbsp;
                                            <a type="button" class="btn btn-delete" href="/admin/sub-admin/list">Cancel</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- END: Page Main-->

    <%- include('_layouts/commonJs') %>

    <script>
        $(document).ready(function() {

            function validateName() {
                const value = $('#name').val().trim();
                if (!value) {
                    $('#name').addClass('error-field');
                    $('#nameError').text('Please enter a name.');
                    return false;
                } else {
                    $('#name').removeClass('error-field');
                    $('#nameError').text('');
                    return true;
                }
            }

            function validateEmail() {
                const value = $('#email').val().trim();
                const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                if (!value) {
                    $('#email').addClass('error-field');
                    $('#emailError').text('Please enter an email address.');
                    return false;
                } else if (!emailRegex.test(value)) {
                    $('#email').addClass('error-field');
                    $('#emailError').text('Please enter a valid email address.');
                    return false;
                } else {
                    $('#email').removeClass('error-field');
                    $('#emailError').text('');
                    return true;
                }
            }

            function validatePassword() {
                const value = $('#password').val().trim();
                // Password is optional in edit mode
                if (value && value.length < 6) {
                    $('#password').addClass('error-field');
                    $('#passwordError').text('Password must be at least 6 characters.');
                    return false;
                } else {
                    $('#password').removeClass('error-field');
                    $('#passwordError').text('');
                    return true;
                }
            }

            $('#name').on('input', function() {
                validateName();
            });

            $('#email').on('input', function() {
                validateEmail();
            });

            $('#password').on('input', function() {
                validatePassword();
            });

            // Form Submission Validation
            $('#formValidate0').on('submit', function(e) {
                let valid = true;
                valid &= validateName();
                valid &= validateEmail();
                valid &= validatePassword();

                if (!valid) {
                    e.preventDefault();
                    $('html, body').animate({ 
                        scrollTop: $('.error-field').first().offset().top - 100 
                    }, 500);
                }
            });

        });
    </script>

</body>

</html>